click==8.0.4
fastai==2.7.12
fastcore==1.5.29
ipython==8.10.0
matplotlib==3.7.0
nbdev==2.3.12
numpy==1.23.5
packaging==23.1
pandas==1.5.3
protobuf==4.22.3
psutil==5.9.0
reformer_pytorch==1.4.4
scikit_learn==1.2.1
scipy==1.10.0
torch==1.12.1
torch_xla==1.0
tqdm==4.64.1
tsai==0.3.6
